*{margin: 0px; padding: 0px; box-sizing: border-box;}
#root{
  width: 100vw;
  height: 100vh;

}
.container{
  width: 100vw;
  height :10vh;
  border: 1px solid black;

  display: flex;
      justify-content: center;
      align-items: center;
     
}
.blue{
  background-color: #183153;
}

.container>p{
  width: 8vw;
  height: 5vh;
  border-radius: 60%;
 
  margin-right: 4vw;

}
.gray{
  background-color: #c4c4c4;
}

.container2{
  width: 100vw;
  height: 40vh;
  border: 1px solid black;
  line-height: 10;
  display: flex;


}

.section1{
  width: 40vw;
  height: inherit;
  border: 1px solid black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;

}

.section2{
  width: 60vw;
  height: inherit;
  border: 1px solid black;

  
  display: flex;
  flex-direction: column;
} 


.section2>h3{
width: inherit;
height: 33.33%;
text-align: center;
line-height: 3;
font-size: 2rem;

background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 16.67%, rgba(0, 0, 0, 0.4) 64.58%, rgba(0, 0, 0, 0.4) 80.21%, rgba(0, 0, 0, 0.225) 99.98%, rgba(21, 5, 5, 0.4) 99.99%);
      -webkit-background-clip: text;

      color: transparent;
}

.section2>h2{
  width: inherit;
  height: 33.33%;
  text-align: center;
  line-height: 3;
  font-size: 2rem;
  
  }

  .section2>h1{
    width: inherit;
    height: 33.33%;
    text-align: center;
    line-height: 3;
    font-size: 2rem;
    

    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

      
      -webkit-background-clip: text;

      color: transparent;
    }

    .weighttitle{
      width: inherit;
      height: 10vh;
      border: 1px solid black;

      text-align: center;
      line-height: 2.5;
      
    }

    .weight{
      width: 100%;
      height: 40vh;
      border: 1px solid black;

      display: flex;
    }
    .weight>div{
      width: 50%;
      height: inherit;
      border: 1px solid black;
    }
  .goal{
    width: 50vw;
    height: 5vh;
    font-size: large;
    text-align: center;
      margin-top: 5px;
  }
  .number{
    width: 50vw;
    height:36vh;
    
  }


  .number>h5{
    width: 50vw;
    height: 10vh;
    text-align: center;
    line-height: 2.5;
    font-size: 2rem;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 16.67%, rgba(0, 0, 0, 0.4) 64.58%, rgba(0, 0, 0, 0.4) 80.21%, rgba(0, 0, 0, 0.225) 99.98%, rgba(21, 5, 5, 0.4) 99.99%);
      -webkit-background-clip: text;

      color: transparent;
  }

  .number>h4{
    width: 50vw;
    height: 10vh;
    text-align: center;
    line-height: 2.5;
    font-size: 2rem;
  }

  .number>h3{
    width: 50vw;
    height: 10vh;
    text-align: center;
    line-height: 2.5;
    font-size: 2rem;

    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

      
    -webkit-background-clip: text;

    color: transparent;
  }

  .footer{
    width: 80vw;
    height: 20vh;
    border: 1px solid black;
    
   display: flex;
   justify-content: center;
   align-items: center;
  }


  .footer>section{
    width: 500px;
    height: 80px;
    border-radius: 60px;
    background-color: #183153;
  }
  
  .footer>section>h4{
    color: #fff;
    line-height: 0.7;
    font-size: 5rem;
    font-weight: 2;
  
    position: relative;
    left: 350px;
  }
  
  